* {
  box-sizing: border-box;
}

.card-container {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.875rem 0rgba (33, 37, 41, 0.05);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  padding: 1.25rem;
  position: relative;
  text-align: left;
  width: 400px;
}

.card-container .title-img-container {
  display: flex;
  justify-content: space-between;
}

.card-container .card-title {
  color: #939ba2;
  font-size: 0.925rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-container .circle {
  align-items: center;
  background: #d3e2f7;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.card-container .amount {
  font-size: 1.75rem;
  margin: 0.25rem 0 1rem;
}

.card-container .spans {
display: flex;
}
