.register-container {
  align-items: center;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  height: 100vh;
}

.register-card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 40px 48px;
  text-align: left;
  width: 550px;
}

.register-subtitle{
  margin: 0.8rem 0 1.8rem;
}

.label{
  color: #495057;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.2rem;
}

.input {
  border: 1.5px solid #838d9b;
  border-radius: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.8rem;
  text-align: left;
  transition: all 0.3s;
  width: 100%;
}

.input:focus-visible {
  border: 1.5px solid #3b7ddd;
  color: #3b7ddd;
}

.button-submit {
  background-color: #3b7ddd;
  border-radius: 0.25rem;
  border: solid 1px transparent;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 0 0.3rem;
  padding: 0.8rem 46px;
  transition: all 0.5s;
  width: 100%;
}

.button-submit:hover {
  background-color: white;
  color: #3b7ddd;
}
