* {
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb !important;
}

.with-margin {
  margin-left: 255px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.sales-visitors-container {
  margin-right: 1.4rem;
  padding: 0;
}

.earnings-orders-container {
  margin-right: 1.4rem;
  padding: 0 ;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-right: 1.4rem;
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  text-align: left;
}

.card-header-title {
  border-bottom-width: 1px;
  color: #939ba2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.925rem;
  font-weight: 600;
  padding: 1rem 1.25rem;
  width: 100%;
}

.card-header-title h5 {
  margin: 0;
}

.card-main-container {
  padding: 1rem 1.25rem;
}

.chart-area-card {
  width: 50%;
}

.pie-chart-container {
  height: 50%;
  width: 100%;
}

.pie-chart-container table {
  width: 100%;
}

.pie-chart-container table tbody tr {
  border-bottom: 1px solid #dee2e6;
  display: flex;
  color: #495057;
  font-size: 14px;
  justify-content: space-between;
}

.pie-chart-container table tbody tr td {
  padding: 12px;
}

.main-title {
  margin-top: 1rem;
  margin-left: 3.5rem;
}
